*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_title{
    padding: 1rem 0 1rem 1rem;
    background-color: rgb(66, 155, 228);
    color: white;
}
.add_user{
    padding: 0.5rem 1.5rem;
    background-color: whitesmoke;
    border:none;
    border-radius: 5px solid whitesmoke;
}
.add_user:hover{
    padding-right: 2rem;
    transition: .5s ease;
}
table th{
    color: #4d5563;
}
